<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add.css">
    <title>CRUD (Proyecto Final)</title>
</head>
<body>
    <div id="particles-js"></div>
    <div class="centrar">
        <div>
            <form action="/add" method="post">
                <div class="formagregar">
                    <h2 style="text-align: center; margin-bottom: 20px;">Agregar usuario</h2>
                    <br>
                    <div class="centrar">
                        <label for="name" style="width: 20%;">Nombre:</label>
                        <input type="text" id="name" name="name" required class="inputagregar">
                    </div>
                    <br>
                    <div class="centrar">
                        <label for="email" style="width: 20%;">Correo:</label>
                        <input type="email" id="email" name="email" required class="inputagregar">
                    </div>
                    <br>
                    <div class="centrar">
                        <label for="universidad" style="width: 20%;">Universidad:</label>
                        <input type="text" id="universidad" name="universidad" required class="inputagregar">
                    </div>
                    <br>
                    <div class="centrar">
                        <label for="cuenta" style="width: 20%;">Cuenta:</label>
                        <input type="text" id="cuenta" name="cuenta" pattern="^\d{9}$" required class="inputagregar" title="El campo Cuenta debe contener 9 digitos">
                    </div>
                    <br>

                    <div class="botones">
                        <button type="submit" class="agregar">Registrar</button>
                        <a href="/"><button type="button" class="eliminar">Cancelar</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="/js/particles.min.js"></script>
<script src="/js/particulas.js"></script>

</html>
